.Cart h2 {
    margin: 50px 120px;
    width: fit-content;
}

.Cart-Items{
    margin: 50px auto;
    display: flex;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter{
	width: 15%;
	padding-right: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.buttons{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}


/* .Cart h2 {
    margin: 50px auto;
    width: fit-content;
}

.Container {
    display: flex;
}

.Container h6 {
    margin-bottom: 30px;
}

.Cart .Catalog {
    border: 1px solid white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 80px;
    padding: 20px;
    width: 800px;
    border-radius: 12px;
}

.Cart .Catalog .CatalogCard {
    border: 1px solid black;
    margin: 20px 0px;
    width: 500px;
    height: 300px;
}

.CatalogCard .DetailCatalog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.CatalogCard .DetailCatalog h5 {
    margin: 20px;
    height: fit-content;
}

.DetailCatalog .Icon {
    width: fit-content;
    height: fit-content;
    margin: 60px -150px;
}

.CatalogCard .ImgContainer {
    border: 1px solid black;
    margin: 20px 20px;
}

.Cart .Price {
    border: 1px solid white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 50px;
    padding: 20px;
    width: 600px;
    height: 350px;
    border-radius: 12px;
}

.Container .Price .text {
    margin-top: 50px;
}

.Container .Price .text h6 {
    font-weight: 300;
    margin-top: 20px;
} */