body {
    background-color: #F2F3F3;
}

.ProductCustom {
    border-radius: 12px;
    margin: 50px auto;
    background-color: white;
    border: 1px solid white;
    width: 500px;
}

.ProductCustom h3 {
    margin: 50px;
}

.InputField {
    margin: 50px;
}

.InputField h6 {
    width: fit-content;
    margin-top: 30px;
}

.InputField .inputs {
    border-color: transparent;
    outline: none;
    width: 350px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 8px;
    height: 50px;
    background-color: #F2F3F3;
}

.IconPrescription {
    padding-top: 10px;
    margin-bottom: 50px;
}

.IconPrescription p {
    width: fit-content;
    margin-top: -30px;
    margin-left: 50px;
}