.ResetPassword {
    margin: 50px auto;
    text-align: center;
}

.Reset-form {
    padding: 20px;

}

.Reset-form div {
    text-align: center;
    padding: 10px;
}

.Reset-form div h4 {
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
}